:root{
    --primaryColor: ;
    --secondaryColor: ;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tabs {
    height: 100vh;
    display: flex;
}
  
[role="tablist"] {
    display: flex;
    flex-direction: column;
}
  
[role="tabpanel"] {
    width: 100%;
    background: linear-gradient(to bottom right , #EBF4FF,#674FBC );
    padding: 2rem;
    text-align: center;
}

[role="tabpanel"] p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

[role="tabpanel"] img{
    margin: 20px;
}
  
[role="tablist"]  button {
    height: 15%;   
    background: #674FBC;
    border: 0;
    color: white;
    font-size: 1rem;
    cursor:pointer;
    padding: 15px;
}
  
[role="tablist"] button[aria-selected="true"] {
    background:  #EBF4FF;
    color: rgba(0,0,0,0.7);
}
  
button:focus {
    outline: 0;
    /* --bs-color: rgba(0,0,0,0.6); */
}


.canvasDiv{
    height: 500px;
    width: 800px;
}

.container{
    display: flex;
}

.rightSide, .leftSide{
    display: flex;
    flex-direction: column;
}

.countryCanvasDiv{
    height: 400px;
    width: 600px;
}

.countryCanvas{
    height: 60%;
    width: 80%;
    margin: auto;
}

.infoTypeBtn{
    background:#253042;
    border: 1px solid #253042;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor:pointer;
    padding: 15px;
}

.country{
    background:#5a6dc4;
    border: 1px solid #5a6dc4;
    border-radius: 5px;
    color: white;
    cursor:pointer;
    padding: 5px;
    margin: 3px;
}

.worldCountries{
    height: 600px;
}

.canvasDiv .australia{
    height: 500px;
    width: 900px;
    margin: auto;
}
